<nav aria-label="breadcrumb" >
  <ol class="breadcrumb" >
    <li class="breadcrumb-item fw-bold"><%= link_to t('breadcrumb.home'), root_path %></li>
    <li class="breadcrumb-item active" aria-current="page"><%= t('breadcrumb.new_cashback_rule') %></li>
  </ol>
</nav>

<h1 class='title-style'><%= t('.new_cashback_rule') %></h1>

<section>
  <div class='cashback-rules-form'>
    <% if @cashback_rule.errors[:cashback_percentage].include?(t('.cashback_rule_already_exists')) %>
      <% flash.now[:warning] = t('.cashback_rule_already_exists') %>
    <% end %>
  </div>

  <%= form_with model: @cashback_rule, class:'form' do |f| %>
  
    <div class='field'>
      <%= f.label :minimum_amount_points %>
      <%= f.number_field :minimum_amount_points, placeholder: t('.minimum_amount_points_placeholder') %>
      <% if @cashback_rule.errors.where(:minimum_amount_points) %>
        <% @cashback_rule.errors.where(:minimum_amount_points).each do |e| %>
          <span class='text-danger errors'><%= "#{CashbackRule.human_attribute_name(e.attribute)} #{e.message}" %></span>
        <% end %>
      <% end %>
    </div>
    <div class='field'>
      <%= f.label :cashback_percentage %>
      <%= f.number_field :cashback_percentage, step: 0.01, placeholder: t('.cashback_percentage_placeholder') %>
        <% if @cashback_rule.errors.where(:cashback_percentage) %>
          <% @cashback_rule.errors.where(:cashback_percentage).each do |e| %>
            <% next if e.message == 'A regra de cashback já existe' %>

            <span class='text-danger errors'><%= "#{CashbackRule.human_attribute_name(e.attribute)} #{e.message}" %></span>
          <% end %>
        <% end %>
    </div>
    <div class='field'>
      <%= f.label CashbackRule.human_attribute_name(:days_to_use, count: 2) %>
      <%= f.number_field :days_to_use, placeholder: t('.days_to_use_placeholder') %>
      <% if @cashback_rule.errors.where(:days_to_use) %>
        <% @cashback_rule.errors.where(:days_to_use).each do |e| %>
          <span class='text-danger errors'><%= "#{CashbackRule.human_attribute_name(e.attribute)} #{e.message}" %></span>
        <% end %>
      <% end %>
    </div>
    <%= f.submit t('.create_rule'), class: 'btn btn-primary btn-submit', formnovalidate: true %>
  <% end %>
</section>
