<div class='w-100 d-flex align-items-center gap-3'>
  <%= image_tag card_type.icon, alt: "Ícone cartão #{card_type.name}", size: '162x100' %>
  <span><%= card_type.name %></span>
</div>

<%= form_with url: company_card_types_path, scope: :company_card_type, class: 'w-100 d-flex align-items-end gap-3' do |f| %>
  <div class='w-100'>
    <%= f.label :cashback_rule_id, t('.cashback_rule') %>
    <%= f.collection_select :cashback_rule_id, @cashback_rules, :id, :description, prompt: 'Escolha uma regra de cashback' %>
  </div>

  <div class='w-50'>
    <%= f.label :conversion_tax, t('.conversion_tax') %>
    <%= f.number_field :conversion_tax, step: 0.01 %>
  </div>

  <%= f.hidden_field :card_type_id, value: card_type.id %>
  <%= f.hidden_field :cnpj, value: @company.registration_number %>
  <%= hidden_field_tag :company_id, @company.id %>
  
  <%= f.submit 'Vincular a empresa', class: 'btn btn-success' %>
<% end %>
