<div class='card-section'>
  <%= image_tag card_type.icon, alt: card_type.name, class: 'card-icon' %>

  <div class='card-info'>
    <span class='title'><%= card_type.name %></span>
    <span class='unlinked-color'><%= CompanyCardType.human_attribute_name("status.unlinked") %></span>
  </div>
</div>

<%= form_with url: company_card_types_path, scope: :company_card_type do |f| %>
  <div class='w-100'>
    <%= f.label :cashback_rule_id, t('.cashback_rule') %>
    <%= f.collection_select :cashback_rule_id, @cashback_rules, :id, :description, { include_blank: t('.choose_cashback_rule') }, {data: {controller: 'slim'}} %>
  </div>

  <div class='w-50'>
    <%= f.label :conversion_tax, t('.conversion_tax') %>
    <%= f.number_field :conversion_tax, step: 0.01, placeholder: t('.whats_the_conversion_tax') %>
  </div>

  <%= f.hidden_field :card_type_id, value: card_type.id %>
  <%= f.hidden_field :cnpj, value: @company.registration_number %>
  <%= hidden_field_tag :company_id, @company.id %>
  
  <%= f.submit t('.link_company'), class: 'btn btn-success' %>
<% end %>
