
<nav aria-label="breadcrumb" >
  <ol class="breadcrumb" >
    <li class="breadcrumb-item fw-bold"><%= link_to t('breadcrumb.home'), root_path %></li>
    <li class="breadcrumb-item fw-bold"><%= link_to t('breadcrumb.companies'), companies_path %></li>
    <li class="breadcrumb-item active" aria-current="page"><%= t('breadcrumb.card_types') %></li>
  </ol>
</nav>

<div class='company-header'>
  <h1 class='title-style m-0'><%= @company.brand_name %></h1>
  <h2><%= t('.registration_number') %>: <%= cnpj_formatter(@company.registration_number) %></h2>
</div>

<section class='d-flex flex-column gap-3'>
  <% @card_types.each do |card_type| %>
    <div id=<%= dom_id(card_type) %> class='company-types-card'>
      <% params = { company_id: @company.id, company_card_type: {
                    card_type_id: card_type.id, cnpj: @company.registration_number } } %>

      <% if @linked_card_types.include? card_type %>
        <% company_card_type = @company_card_types.find { |company_card_type| company_card_type.card_type == card_type } %>

        <%= render partial: 'linked_card_type', locals: { company_card_type:, card_type:, params: } %>
      <% else %>
        <%= render partial: 'unlinked_card_type', locals: { card_type: } %>
      <% end %>
    </div>
  <% end %> 
</section>
