<%= form_with model: @card_type, class: 'form' do |f| %>
  <div class='field'>
    <%= f.label :name %>
    <%= f.text_field :name %>
      <% if @card_type.errors.where(:name) %>
        <% @card_type.errors.where(:name).each do |e| %>
          <span class='text-danger errors'><%= "#{CardType.human_attribute_name(e.attribute)} #{e.message}" %></span>
        <% end %>
      <% end %>
  </div>

  <div class='field'>
    <%= f.label :start_points %>
    <%= f.number_field :start_points %>
    <% if @card_type.errors.where(:start_points) %>
        <% @card_type.errors.where(:start_points).each do |e| %>
          <span class='text-danger errors'><%= "#{CardType.human_attribute_name(e.attribute)} #{e.message}" %></span>
        <% end %>
    <% end %>
  </div>

  <div class='field' data-controller='preview'>
    <%= f.label :icon %>
    <%= f.label :icon, class: 'w-100' do %>
      <div class='image-area'>
        <i data-preview-target='picturePlaceholder' class="bi bi-image-fill picture-icon"></i>
        <span data-preview-target='textPlaceholder'><%= t('.select_image_placeholder') %></span>
        <%= image_tag '', data: { preview_target: 'output' }, class: 'image-preview' %>
      </div>
    <% end %>
    <%= f.file_field :icon, class: 'd-none', data: { preview_target: 'input', action:'preview#readURL' }, accept: 'image/jpeg, image/gif, image/png, image/svg+xml' %>
    <% if @card_type.errors.where(:icon) %>
        <% @card_type.errors.where(:icon).each do |e| %>
          <span class='text-danger errors'><%= "#{CardType.human_attribute_name(e.attribute)} #{e.message}" %></span>
        <% end %>
    <% end %>
  </div>

  <%= f.submit t('.save_type'), class: 'btn btn-primary btn-submit' %>
<% end %>
