<%= tag.div id: payment.order_number, class: 'payment-card' do %>
  <div class='header'>
    <div>
      <h3 class='header-title'><%= t('.order') %> <%= payment.order_number %></h3>
      <h3 class='header-title'><%= I18n.localize(payment.payment_date) %></h3>
    </div>

    <% if payment.approved? %>
      <h5 class='header-status text-success'><%= t('.approved') %></h5>
    <% elsif payment.rejected? %>
      <h5 class='header-status text-danger'><%= t('.reproved') %></h5>
    <% end %>
  </div>

  
  <% if payment.pre_approved? || payment.approved? %>
    <div class='body'>
      <div class='info-area'>
        <span><%= t('.card_number') %></span>
        <span class='card-text'><%= payment.formatted_card_number %></span>
      </div>
      <div class='info-area'>
        <span><%= t('.client_cpf') %> </span>
        <span class='card-text'><%= payment.format_cpf(payment.cpf) %></span>
      </div>
      <div class='info-area'>
        <span><%= t('.total_value') %> </span>
        <span class='card-text'>R$ <%= payment.format_money(payment.total_value) %></span>
      </div>
      <div class='info-area'>
        <span><%= t('.discounts') %> </span>
        <span class='card-text'>R$ <%= payment.format_money(payment.descount_amount) %></span>
      </div>
      <div class='info-area'>
        <span><%= t('.final_value') %> </span>
        <span class='card-text'>R$ <%= payment.format_money(payment.final_value) %></span>
      </div>
      <% if payment.pre_approved? %>
        <div class='info-area'>
          <span><%= t('.balance') %> </span>
          <span class='card-text'><%= payment.check_balance(payment.card_number) %> <%= t('.points') %> </span>
        </div>
        <div class='info-area'>
          <span><%= t('.final_balance') %> </span>
          <span class='card-text'><%= payment.get_final_balance(payment) %> <%= t('.points') %></span>
        </div>
      
        <div class='btn-area'>
          <%= button_to approve_payment_path(payment.id),
              method: :patch, id: dom_id(payment), form_class: 'w-50', class: 'btn btn-success btn-payment' do
          %>
            <i class="bi bi-bag-check-fill bag-icon"></i>
            <%= t('.approve') %>
          <% end %>
          <%= button_to reprove_payment_path(payment.id),
              method: :patch, id: dom_id(payment), form_class: 'w-50', class: 'btn btn-danger btn-payment' do
          %>
            <i class="bi bi-bag-x-fill bag-icon"></i>
            <%= t('.reprove') %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% elsif payment.pre_rejected? || payment.rejected? %>
    <div class='errors-area'>
      <% payment.errors_associations.each do |error|%>
        <div class='d-flex align-items-center gap-2'>
          <i class="bi bi-x text-danger"></i>
          <%= error.error_message.description %>
        </div>
      <% end %>
    </div>
    
    <% if payment.pre_rejected? %>
      <%= button_to reprove_payment_path(payment.id),
          method: :patch, class: 'btn btn-danger btn-payment' do
      %>
        <i class="bi bi-bag-x-fill bag-icon"></i>
        <%= t('.reprove') %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
