<h2>Detalhes do Cartão</h2>
<div>
<strong>Número do cartão:</strong> <%= @card.number %>
</div>
<div>
<strong>CPF:</strong> <%= @card.cpf %>
</div>
<div>
<strong>Pontos:</strong > <%= @card.points %>
</div>
<div>
<strong>Status:</strong> <%= @card.status %>
</div>
<div>
<strong>Tipo de cartão:</strong> <%= @card.card_type_id %>
</div>
