<h2>Detalhes do Cartão</h2>
<div>
<%= t('activerecord.attributes.card.number') %>: <%= @card.number %>
</div>
<div>
<%= t('activerecord.attributes.card.cpf') %>: <%= @card.cpf %>
</div>
<div>
<%= t('activerecord.attributes.card.points') %>: <%= @card.points %>
</div>
<div>
<%= t('activerecord.attributes.card.status') %>:  <%= @card.status %>
</div>
<div>
<%= t('activerecord.attributes.card.card_type_id') %>: <%= @card.card_type.name %>
</div>
