<!DOCTYPE html>
<html>
  <head>
    <title>CardsPayments</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <header>
    
    </header>
    <nav class="admin">
    <% if admin_signed_in? %>
      <%= current_admin.email  %>
      <%= button_to 'Sair', destroy_admin_session_path, method: :delete, class: "sair" %>
    <% else %>
      <%= link_to 'Entrar', admin_session_path %>  
    <% end %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
