<!DOCTYPE html>
<html>
  <head>
    <title>CardsPayments</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>

    <header>
      <nav class='nav'>
        <%= link_to 'Tipos de cartão', card_types_path, :class => 'nav-link active' %>
        <%= link_to 'Novo tipo de cartão', new_card_type_path, :class => 'nav-link active' %>
        <%= link_to t('.provide_card_types'), companies_path %>
      </nav>
    <main>
      <% if notice %>
        <p class="alert alert-primary w-75 mx-auto"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-warning w-75 mx-auto"><%= alert %></p>
      <% end %>
    </header>
      <%= yield %>
    </main>
  </body>
</html>
